


<ion-content class="custom-bg">
  <!-- Curva decorativa -->
  <div class="curva-b-decorativa"></div>
  <div class="curva-b-decorativa2"></div>
  <!-- Imagen redonda -->
  <div class="profile-section">
    <img src="assets/img/yo3.jpg" class="profile-img" />
  </div>

  <!-- Tarjeta de menú -->
  <div class="menu-card">
    <h2 class="menu-title">Ajuste de Tu viaje!</h2>

    <ion-list>
      <ion-item button *ngFor="let item of menuItems" [routerLink]="item.route" lines="none">
        <ion-label>{{ item.title }}</ion-label>
        <ion-icon [name]="item.icon" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
